html,*{
    box-sizing: border-box;
}
body,ul,h1,p,h2{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: "PT Sans", sans-serif;

}
.header{
    background-color: #202846;
    padding: 12px;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}


.logo img{
    width: 138px;

}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu{
    display: flex;
    height: 58px;

}

.language-container img{
    width: 40px;
}

.menu-elem{
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    padding: 0 30px;
    height: 100%;
    border-right: 2px solid #fff;
    justify-content: center;
    display: flex;
    align-items: center;
}

button{
    border: none;
    background-color: transparent;
    color: #fff;
}

.language-container button{
    font-size: 28px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.mobile-menu img{
    width: 60px;
}

.mobile-menu{
    display: none;
}



@media screen and (max-width: 1299px){
    .menu-elem a{
        font-size: 18px;
    }
    .language-container button {
        font-size: 18px;
    }

}
@media screen  and (max-width: 1099px){
    .nav-menu{
        display: none;
    }
    .mobile-menu{
        display: block;
    }
    
}

.main-banner{
    margin: 40px 0;
    width: 100%;
    background-image: url('./images/nature.png');
    height: 370px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.main-banner h1{
    font-size: 50px;
    text-align: center;
}

.main-banner p{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.show{
    background-color: #202846;
    width: 245px;
    height: 68px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}


.show img{
    width: 25px;
}

.advertizing-section{
    margin: 40px 0;
    width: 100%;
    background-image: url('./images/house.png');
    height: 604px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.second-section-text{
    width: 80%;
    padding: 30px 10px;
    background-color: rgba(255, 255, 255, 0.7);
    position: relative;
    height: 150px;
}
.second-section-text button{
    position: absolute;
    top: -34px;
    right: 0;
    cursor: pointer;
}

.second-section-text p{
    margin-top: 30px;
    font-size: 24px;
    font-style: italic;
}